<h3>
  Lista de usuarios
</h3>

<table class="table table-hover">
    <thead>
  <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
    </tr>
  </thead>
    <tbody>
  <% for usuario in @usuarios %>
          <tr>
          <td><%= usuario.id %></td>
          <td><%= usuario.nome %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.password_digest %></td>
            <td>
              <span>
                <a href="<%= usuario.password_digest %>">
                  alterar
                </a>
                <a href="<%= usuario_path usuario%>"
                           data-method="delete"
                           data-confirm="Tem Certeza?"
                           class="destroy">excluir
                </a>
                </span>
            </td>
        </tr>
      <% end %>
  </tbody>
  </table>